.footer {
    margin-top: 10px;
    padding: 4vh 0;
    background: #bdc3c77c;
    text-align: center;
}
.footer a {
    padding: 2px;
    text-decoration: none;
    color: rgb(2, 65, 59);
    font-family: sans-serif;
}