.genres_bar {
    width: auto;
    padding: 1rem 0;
    background: #2c3e50;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    align-items: flex-start;
}
.genres_bar span {
    /* border: 1px solid gray; */
    display: inline-block;
    width: auto;
    word-break: keep-all;
    min-width: 100px;   
}
.genres_bar a {
    color: white;
}
.genres_bar a:hover {
    color: #c0392b;
}