.movie_details {
    width: 60%;
    margin: auto;
    padding: 10px;
}
.movie_details h1,
.movie_details h2,
.movie_details h3,
.movie_details h4,
.movie_details h5,
.movie_details h6 {
    margin: 0;
}
.movie_details h4 {
    margin: 5px 0 15px 0;
    color: gray;
}
.movie_details img {
    width: 20%;
    padding: 10px;
    margin: 4px;
    border: 1px solid gray;
    border-radius: 4px;
}
.movie_details .poster {
    float: right;
}
.movie_details .backdrop {
    width: auto;
    padding-left: 0;
}
.movie_details img::after {
    clear: both;
}
.movie_details .movie_overview {
    float: left;
    border: 1px solid orange;
    border-radius: 5px;
    min-width: 50%;
}
.movie_details .movie_overview div{
    border-bottom: 1px solid orange;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .movie_details {
        width: auto;
    }
    .movie_details img {
        width: 30%;
    }
    .movie_details .movie_overview {
        display: block;
        width: 100%;
    }
}

.clear_both {
    clear: both;
}