.movie_reviews .reviews_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.movie_reviews .reviews_card {
    display: block;
    min-width: 100%;
    margin: 6px 0;
    border-radius: 3px;
    padding: 10px;
    line-height: 25px;
    background: #dfe2e4;
}

.movie_reviews .reviews_content h1,
.movie_reviews .reviews_content h2,
.movie_reviews .reviews_content h3,
.movie_reviews .reviews_content h4,
.movie_reviews .reviews_content h5,
.movie_reviews .reviews_content h6,
.movie_reviews .reviews_content strong {
    font-weight: 500;
}
.movie_reviews .reviews_card .reviewer_name {
    text-align: left;
}
.movie_reviews .reviews_card .reviewer_name h3 {
    margin: 4px 0;
}
.movie_reviews h2 {
    margin: 3em 0 10px 0;
}


@media screen and (max-width: 800px) {
    .movie_reviews .reviews_card {
        min-width: 57%;
        margin: 6px;
    }
}